@import "tailwindcss";

:root {
  --bi-blue: #0b3d91;
  --bi-yellow: #facc15;
}

html,
body {
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    sans-serif;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior-y: contain;
}

button {
  -webkit-user-select: none;
  user-select: none;
}
